### ADS 500B - Final Project - Group 6
#### Sanjay Regi Philip, Maha Jayapal, Luke Hiura

#### Library and File Import

Module: Library Import <br>
Purpose: To import the neceassary libraries to use for EDA and Analysis <br>
Last Updated by Sanjay - 8/5 at 7pm <br>
Previously Updated by: blank <br>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl 
import matplotlib.pyplot as plt 
import seaborn as sns
import scipy
from sklearn.linear_model import LinearRegression

##### Module: File Import<br>
Purpose: To import the data file, Dataset 2, provided in the Final Project instructions<br>
Last Updated by Sanjay - 8/5 at 7pm <br>
Previously Updated by: blank <br>

In [2]:
## Use Pandas read function
## Remember to change filepath to your machine
house_df = pd.read_csv('/Users/sanjayregiphilip/OneDrive/DS/ADS_500B/Final Project/house_sales.csv', header = 0)

#make sure file was read properly
house_df.head()
house_df.shape

(21613, 21)

### Data PreProcessing

##### Dataset and information regarding each notation <br>

This dataset contains house sale prices for King County, which includes Seattle. <br>

It includes homes sold between May 2014 and May 2015. <br>

##### Description of variables: <br>

id: a notation for a house <br>
date: Date house was sold <br>
price: Price is prediction target <br>
bedrooms: Number of Bedrooms/House <br>
bathrooms: Number of bathrooms/bedrooms <br>
sqft_living: square footage of the home <br>
sqft_lot: square footage of the lot <br>
floors: Total floors (levels) in house <br>
waterfront: House which has a view to a waterfront <br>
view: Has been viewed <br>
condition: How good the condition is Overall <br>
grade: overall grade given to the housing unit, based on King County grading system <br>
sqft_above: square footage of house apart from basement <br>
sqft_basement: square footage of the basement <br>
yr_built: Built Year <br>
yr_renovated: Year when house was renovated <br>
zipcode: zip code <br>
lat: Latitude coordinate <br>
long: Longitude coordinate <br>
sqft_living15: Living room area in 2015(implies-- some renovations) This might or might not have affected the lotsize area <br>
sqft_lot15: lotSize area in 2015(implies-- some renovations) <br>

##### Module: Date Processing<br>
Purpose: Ensure that the data fields in the dataframe are stored as date fields<br>
Last Updated by Sanjay - 8/5 at 7pm <br>
Previously Updated by: blank <br>

In [3]:
## Fix date column
house_df['date'] = pd.to_datetime(house_df['date'])

## check
house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3.0,1.00,1180.0,5650.0,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3.0,2.25,2570.0,7242.0,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4.0,3.00,1960.0,5000.0,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### Module: Find and Remove Outliers
Purpose: Remove any outliers
Last Updated by Sanjay - 8/9 at 11am
Previously Updated by: blank

In [4]:
house_df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,20479.000000,20545.000000,20503.000000,2.056900e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.372821,2.113507,2081.073697,1.517982e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930711,0.768913,915.043176,4.148617e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.500000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1920.000000,7.620000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.070800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,12050.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Find outliers for key fields

In [5]:
price_outliers = house_df[house_df['price'] > house_df['price'].mean() + 3 * house_df['price'].std()]
bedrooms_outliers = house_df[house_df['bedrooms'] > house_df['bedrooms'].mean() + 3 * house_df['bedrooms'].std()]
bathrooms_outliers = house_df[house_df['bathrooms'] > house_df['bathrooms'].mean() + 3 * house_df['bathrooms'].std()]
sqftliving_outliers = house_df[house_df['sqft_living'] > house_df['sqft_living'].mean() + 3 * house_df['sqft_living'].std()]
sqftlot_outliers = house_df[house_df['sqft_lot'] > house_df['sqft_lot'].mean() + 3 * house_df['sqft_lot'].std()]
sqft_living15_outliers = house_df[house_df['sqft_living15'] > house_df['sqft_living15'].mean() + 3 * house_df['sqft_living15'].std()]
sqft_lot15_outliers = house_df[house_df['sqft_lot15'] > house_df['sqft_lot15'].mean() + 3 * house_df['sqft_lot15'].std()]

In [6]:
house_df.drop(house_df[(house_df['price'] > house_df['price'].mean() + 3 * house_df['price'].std())].index, inplace=True)

In [7]:
house_df.shape

(21207, 21)

In [8]:
house_df.drop(house_df[(house_df['bedrooms'] > house_df['bedrooms'].mean() + 3 * house_df['bedrooms'].std())].index, inplace=True)

In [9]:
house_df.shape

(21161, 21)

In [10]:
house_df.drop(house_df[(house_df['bathrooms'] > house_df['bathrooms'].mean() + 3 * house_df['bathrooms'].std())].index, inplace=True)

In [11]:
house_df.shape

(21068, 21)

In [12]:
house_df.drop(house_df[(house_df['sqft_living'] > house_df['sqft_living'].mean() + 3 * house_df['sqft_living'].std())].index, inplace=True)

In [13]:
house_df.shape

(20907, 21)

In [14]:
house_df.drop(house_df[(house_df['sqft_lot'] > house_df['sqft_lot'].mean() + 3 * house_df['sqft_lot'].std())].index, inplace=True)

In [15]:
house_df.shape

(20596, 21)

In [16]:
house_df.drop(house_df[(house_df['sqft_living15'] > house_df['sqft_living15'].mean() + 3 * house_df['sqft_living15'].std())].index, inplace=True)

In [17]:
house_df.shape

(20416, 21)

In [18]:
house_df.drop(house_df[(house_df['sqft_lot15'] > house_df['sqft_lot15'].mean() + 3 * house_df['sqft_lot15'].std())].index, inplace=True)

In [19]:
house_df.shape

(20157, 21)

In [20]:
# After deleting outliers, 1456 rows were removed
21613 - 20157

1456

##### Module: Remove Duplicate Records<br>
Purpose: Delete any possible duplicate records<br>
Last Updated by Sanjay - 8/9 at 7pm <br>
Previously Updated by: blank <br>

In [21]:
house_df.duplicated(subset=None, keep='first').sum()

0

##### Module: Identify Missing Data Values<br>
Purpose: Identify the number of Values Missing from Each Column for Data Imputation<br>
Last Updated by Sanjay - 8/5 at 7pm <br>
Previously Updated by: blank <br>

In [22]:
#find fields with missing values

house_df.isnull().sum()

id                  0
date                0
price               0
bedrooms         1054
bathrooms        1002
sqft_living      1027
sqft_lot          992
floors              0
waterfront          0
view                0
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

##### Module: Predict Missing Values in Data<br>
Purpose: Use Linear Regression to Fill in the Missing Values in the Data<br>
Last Updated by Sanjay - 8/5 at 7pm <br>
Previously Updated by: blank <br>

In [23]:
house_df_imp = house_df
house_median = house_df_imp.median()

/var/folders/s6/5rzdndv95rd5zjclx1k9v1qw0000gn/T/ipykernel_2526/1615738196.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  house_median = house_df_imp.median()

In [24]:
house_df_imp = house_df_imp.fillna(value=house_median)

In [25]:
# create variables to conduct regression to find bedrooms based off of square footage

xsqft = np.array(house_df_imp['sqft_living']).reshape((-1, 1))
ybedrooms = np.array(house_df_imp['bedrooms'])

 
# create variables to conduct regression to find bathrooms based off of square footage

ybathrooms = np.array(house_df_imp['bathrooms'])


# create variables to conduct regression to find sqft_lot based off of square footage

ysqftlot = np.array(house_df_imp['sqft_lot'])


# create variables to conduct regression to find sqft_lot based off of square footage

xbedrooms = np.array(house_df_imp['bedrooms']).reshape((-1, 1))
ysqftliving = np.array(house_df_imp['sqft_living'])

In [26]:
# create regression models for where columns where data is missing

bedrooms_model = LinearRegression().fit(xsqft, ybedrooms)
bathrooms_model = LinearRegression().fit(xsqft, ybathrooms)
sqft_lot_model = LinearRegression().fit(xsqft, ysqftlot)
sqft_living_model = LinearRegression().fit(xbedrooms, ysqftliving)

In [27]:
predicted_bedrooms = np.round(bedrooms_model.predict(xsqft), decimals = 0)
predicted_bathrooms = np.round(bathrooms_model.predict(xsqft), decimals = 0)
predicted_lot = np.round(sqft_lot_model.predict(xsqft), decimals = 0)
predicted_living = np.round(bathrooms_model.predict(xbedrooms), decimals = 0)

In [28]:
house_df['predicted_bedrooms'] = predicted_bedrooms
house_df['predicted_bathrooms'] = predicted_bathrooms
house_df['predicted_lot'] = predicted_lot
house_df['predicted_living'] = predicted_living

In [29]:
house_df.isnull().sum()

id                        0
date                      0
price                     0
bedrooms               1054
bathrooms              1002
sqft_living            1027
sqft_lot                992
floors                    0
waterfront                0
view                      0
condition                 0
grade                     0
sqft_above                0
sqft_basement             0
yr_built                  0
yr_renovated              0
zipcode                   0
lat                       0
long                      0
sqft_living15             0
sqft_lot15                0
predicted_bedrooms        0
predicted_bathrooms       0
predicted_lot             0
predicted_living          0
dtype: int64

In [30]:
house_df['bedrooms'] = house_df['bedrooms'].fillna(value=house_df['predicted_bedrooms'])
house_df['bathrooms'] = house_df['bedrooms'].fillna(value=house_df['predicted_bedrooms'])
house_df['sqft_living'] = house_df['bedrooms'].fillna(value=house_df['predicted_bedrooms'])
house_df['sqft_lot'] = house_df['bedrooms'].fillna(value=house_df['predicted_bedrooms'])

In [31]:
#check results

house_df.isnull().sum()

id                     0
date                   0
price                  0
bedrooms               0
bathrooms              0
sqft_living            0
sqft_lot               0
floors                 0
waterfront             0
view                   0
condition              0
grade                  0
sqft_above             0
sqft_basement          0
yr_built               0
yr_renovated           0
zipcode                0
lat                    0
long                   0
sqft_living15          0
sqft_lot15             0
predicted_bedrooms     0
predicted_bathrooms    0
predicted_lot          0
predicted_living       0
dtype: int64

In [32]:
#check data types of dataframe

house_df.dtypes

id                              int64
date                   datetime64[ns]
price                         float64
bedrooms                      float64
bathrooms                     float64
sqft_living                   float64
sqft_lot                      float64
floors                        float64
waterfront                      int64
view                            int64
condition                       int64
grade                           int64
sqft_above                      int64
sqft_basement                   int64
yr_built                        int64
yr_renovated                    int64
zipcode                         int64
lat                           float64
long                          float64
sqft_living15                   int64
sqft_lot15                      int64
predicted_bedrooms            float64
predicted_bathrooms           float64
predicted_lot                 float64
predicted_living              float64
dtype: object

In [33]:
# adjust data types of imputed values

house_df.astype({"price": int, "bedrooms": int, "bathrooms": int, "sqft_living": int, "sqft_lot": int})

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,predicted_bedrooms,predicted_bathrooms,predicted_lot,predicted_living
0,7129300520,2014-10-13,221900,3,3,3,3,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,3.0,2.0,7302.0,1.0
1,6414100192,2014-12-09,538000,3,3,3,3,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,4.0,2.0,11371.0,1.0
2,5631500400,2015-02-25,180000,2,2,2,2,1.0,0,0,...,0,98028,47.7379,-122.233,2720,8062,3.0,1.0,6102.0,1.0
3,2487200875,2014-12-09,604000,4,4,4,4,1.0,0,0,...,0,98136,47.5208,-122.393,1360,5000,3.0,2.0,9586.0,1.0
4,1954400510,2015-02-18,510000,3,3,3,3,1.0,0,0,...,0,98074,47.6168,-122.045,1800,7503,3.0,2.0,8766.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000,3,3,3,3,3.0,0,0,...,0,98103,47.6993,-122.346,1530,1509,3.0,2.0,8327.0,1.0
21609,6600060120,2015-02-23,400000,4,4,4,4,2.0,0,0,...,0,98146,47.5107,-122.362,1830,7200,4.0,2.0,10610.0,1.0
21610,1523300141,2014-06-23,402101,2,2,2,2,2.0,0,0,...,0,98144,47.5944,-122.299,1020,2007,3.0,1.0,6834.0,1.0
21611,291310100,2015-01-16,400000,3,3,3,3,2.0,0,0,...,0,98027,47.5345,-122.069,1410,1287,3.0,2.0,8532.0,1.0
21612,1523300157,2014-10-15,325000,2,2,2,2,2.0,0,0,...,0,98144,47.5941,-122.299,1020,1357,3.0,1.0,6834.0,1.0

In [34]:
house_df = house_df.drop(columns=['predicted_bedrooms','predicted_bathrooms', 'predicted_lot', 'predicted_living'])

In [35]:
house_df.head()
house_df.shape

(20157, 21)

##### Module:  Change Data Types <br>
Purpose: Ensure that all data fields are expected type for analysis <br>
Last Updated by Sanjay - 8/5 at 7pm<br>
Previously Updated by: blank <br>

In [ ]:
house_df = house_df.astype({"id": str, "floors": int, "lat": str,"waterfront": 'category',"view": 'category',"condition": 'category', "grade": 'category', 'zipcode' : str, 'long' : str })
#df = df.astype({"a": int, "b": complex})

In [ ]:
house_df.dtypes

In [ ]:
house_df.head()

##### Data Analysis and Visualization

In [ ]:
house_df.boxplot(column = ['price'])

In [ ]:
house_df.hist(column = ['price'])

The histogram doesn't show a normal distribution.

In [ ]:
plt.scatter(house_df['price'],house_df['sqft_living'])

The scatterplot between price and sqft_living shows a positive correlation.

In [ ]:
corr_coef = np.corrcoef(house_df['price'],house_df['sqft_living'])
corr_coef

The correlation coefficient between house price and the square ft living is 0.68

In [ ]:
plt.scatter(house_df['price'],house_df['bedrooms'])

In [ ]:
houseprice_mean = house_df.groupby('zipcode')['price'].mean()

In [ ]:
houseprice_mean.head()

In [ ]:
my_plot = houseprice_mean.plot(kind = 'bar',figsize = (15,5))

In [ ]:
houseprice_mean.shape[0]

In [ ]:
house_df.head()

In [ ]:
house_df1 = house_df.dropna()

In [ ]:
house_df1.shape

In [ ]:
bdm = house_df1['bedrooms']
bdmarray = bdm.to_numpy()
bdmarray

In [ ]:
sqftliv = house_df1['sqft_living']
sqftlivarray = sqftliv.to_numpy().reshape((-1, 1))
sqftlivarray

In [ ]:
model = LinearRegression().fit(sqftlivarray, bdmarray)

In [ ]:
print('coefficient of determination:', model.score(sqftlivarray, bdmarray))

In [ ]:
bdm_predict = model.predict(sqftlivarray)
print('predicted response:', bdm_predict, sep = '\n')

In [ ]:
#Uses a seaborn heat map based ont the correlation of the house dataframe


corr = house_df.corr()

ax = sns.heatmap(
    corr, 
    vmin = -1, vmax=1, center=0,
    cmap = sns.color_palette("viridis", as_cmap = True),
    square = True
)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45 ,horizontalalignment='right'
);

In [ ]:
with sns.plotting_context("notebook", font_scale = 2.5):
    g = sns.pairplot(house_df, hue = 'bedrooms', palette = 'tab20', size = 6)
    g.set(xticklabels = []);

In [ ]:

#Excludes data that do not have much correlation, saves both computing power and prevents overfitting when making a mulitple regression value.

with sns.plotting_context("notebook", font_scale = 3):
    g = sns.pairplot(house_df[['price', 'sqft_lot', 'sqft_above', 'sqft_living', 'bedrooms', 'bathrooms', 'sqft_living15']], hue = 'bedrooms', palette = 'tab20c', size = 5)
    g.set(xticklabels = []);

In [ ]:
#Defining data to work with. The inputs (regressors, x) and output (predictor,y) should be arrays

house_df.drop(['id', 'date', 'lat', 'zipcode', 'long', 'yr_renovated', 'yr_built','waterfront','view'], axis = 1, inplace = True)

In [ ]:
house_df.columns

house_df.head()

In [ ]:
#check for VIF(Variance inflation factor) to detect multicollinearity in regression analysis. Check between highest correlation with price and sqft living, then check VIF for sqft_living and sqft_above.

X = house_df

#VIF dataframe
#https://www.geeksforgeeks.org/detecting-multicollinearity-with-vif-python/

vif_data = pd.DataFrame()
vif_data["feeature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                    for i in range(len(X.columns))]
print(vif_data)


#The higher the VIF value, would indicate a higher correlation. 
#As sqft_living and sqft_above are pretty much similar since they 
#take the same mount of square footage. only difference is that the 
#sqft_above takes into account the footageof the basement. Research papers
#consider a VIF >10 as an indicator of multicollinearity

In [ ]:
with sns.plotting_context("notebook", font_scale = 3):
    g = sns.pairplot(house_df[['price', 'sqft_lot', 'bedrooms', 'sqft_lot15']], hue = 'bedrooms', palette = 'tab20c', size = 5)
    g.set(xticklabels = []);

In [ ]:
# Preparing X and Y plots for the regression model between price and sqft_lot



# create linear regression object
regr = LinearRegression()


#fit linear regression
regr.fit(house_df[['sqft_lot', 'sqft_lot15', 'sqft_basement']], house_df[['price']])


#prints intercept of the best fit line
print(regr.intercept_)


#prints the slope of the best fit line against 'sqft_lot', 'sqft_lot15', 'sqft_basement' against price
print(regr.coef_)

In [ ]:
#imports statsmodels api to find relational R-squared values
#Uses the least Squares method and OLS model.
import statsmodels.api as sm

#Compiles a list of house_df to find the related coefficients between price and the other columns.
#sm.add_constant includes the interecept value to help center the value.
x = house_df[['sqft_lot', 'sqft_lot15', 'sqft_basement']]
y = house_df[['price']]
x = sm.add_constant(x)

model = sm.OLS(y,x).fit()
predictions = model.predict(x)
model.summary()

In [ ]:
#Uses a seaborn heat map based ont the correlation of the house dataframe


corr = house_df.corr()

ax = sns.heatmap(
    corr, 
    vmin = -1, vmax=1, center=0,
    cmap = sns.color_palette("viridis", as_cmap = True),
    square = True
)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45 ,horizontalalignment='right'
);

with sns.plotting_context("notebook", font_scale = 2.5):
    g = sns.pairplot(house_df, hue = 'bedrooms', palette = 'tab20', size = 6)
    g.set(xticklabels = []);


#Excludes data that do not have much correlation, saves both computing power and prevents overfitting when making a mulitple regression value.

with sns.plotting_context("notebook", font_scale = 3):
    g = sns.pairplot(house_df[['price', 'sqft_lot', 'sqft_above', 'sqft_living', 'bedrooms', 'bathrooms', 'sqft_living15']], hue = 'bedrooms', palette = 'tab20c', size = 5)
    g.set(xticklabels = []);

#Defining data to work with. The inputs (regressors, x) and output (predictor,y) should be arrays

house_df.drop(['id', 'date', 'lat', 'zipcode', 'long', 'yr_renovated', 'yr_built','waterfront','view'], axis = 1, inplace = True)

house_df.columns

house_df.head()

#check for VIF(Variance inflation factor) to detect multicollinearity in regression analysis. Check between highest correlation with price and sqft living, then check VIF for sqft_living and sqft_above.

X = house_df

#VIF dataframe
#https://www.geeksforgeeks.org/detecting-multicollinearity-with-vif-python/

vif_data = pd.DataFrame()
vif_data["feeature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                    for i in range(len(X.columns))]
print(vif_data)


#The higher the VIF value, would indicate a higher correlation. 
#As sqft_living and sqft_above are pretty much similar since they 
#take the same mount of square footage. only difference is that the 
#sqft_above takes into account the footageof the basement. Research papers
#consider a VIF >10 as an indicator of multicollinearity

with sns.plotting_context("notebook", font_scale = 3):
    g = sns.pairplot(house_df[['price', 'sqft_lot', 'bedrooms', 'sqft_lot15']], hue = 'bedrooms', palette = 'tab20c', size = 5)
    g.set(xticklabels = []);

# Preparing X and Y plots for the regression model between price and sqft_lot



# create linear regression object
regr = LinearRegression()


#fit linear regression
regr.fit(house_df[['sqft_lot', 'sqft_lot15', 'sqft_basement']], house_df[['price']])


#prints intercept of the best fit line
print(regr.intercept_)


#prints the slope of the best fit line against 'sqft_lot', 'sqft_lot15', 'sqft_basement' against price
print(regr.coef_)







#imports statsmodels api to find relational R-squared values
#Uses the least Squares method and OLS model.
import statsmodels.api as sm

#Compiles a list of house_df to find the related coefficients between price and the other columns.
#sm.add_constant includes the interecept value to help center the value.
x = house_df[['sqft_lot', 'sqft_lot15', 'sqft_basement']]
y = house_df[['price']]
x = sm.add_constant(x)

model = sm.OLS(y,x).fit()
predictions = model.predict(x)
model.summary()